@import url('https://fonts.cdnfonts.com/css/spacetype'); 
@import url('https://fonts.cdnfonts.com/css/common-pixel');
@import url('https://fonts.cdnfonts.com/css/aux-dotbitc');
@import url('https://fonts.cdnfonts.com/css/clouds');

body {
    font-family: 'AuX DotBitC', sans-serif;                                                                       
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    font-family: 'SpaceType', sans-serif;
    background-color: #b3ff00;
    color: #333;
    padding: 10px;
    text-align: center;
}
.berita{
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    display: flex;
}

.judul-berita {
    font-family: 'common pixel', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 5px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.container {
    border-radius: 5px;
    max-width: 550px;
    margin: 0 auto;
    padding: 10px;
    background-color: #b3ff00;
}

a {
    color: #ae00ff;
    text-decoration: none;
}

.copyright {
    font-family: 'common pixel', sans-serif;
    color: #ddd;
    text-align: center;
}

hr {
    color: #b3ff00;
}

.garis-dua {
    border: none;
    border-top: 10px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 10px;
}

marquee {
    color: #b3ff00;
    font-family: 'common pixel', sans-serif;
}

.login-button {
    font-family: 'AuX DotBitC', sans-serif; 
    background-color: #333; /* Warna latar belakang */
    color: #ddd; /* Warna teks */
    border: none; /* Menghapus border */
    padding: 10px 50px; /* Padding tombol */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 7px 2px;
    cursor: pointer;
    border-radius: 20px 0px; /* Membuat sudut sudut tombol agak melengkung */
}

.home-button {
    font-family: 'AuX DotBitC', sans-serif; 
    background-color: #171717; /* Warna latar belakang */
    color: #ddd; /* Warna teks */
    border: none; /* Menghapus border */
    padding: 10px 100px; /* Padding tombol */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 4px; /* Membuat sudut sudut tombol agak melengkung */
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font-family: 'AuX DotBitC', sans-serif; 
    width: 75%;
    padding: 10px;
    font-size: 20px; /* Ukuran teks input */
    margin-bottom: 15px;
    border: 2px solid #ae00ff;
    border-radius: 5px;
}

.login-form {
    font-family: 'AuX DotBitC', sans-serif; 
    max-width: 400px; /* Lebar maksimum formulir */
    margin: 0 auto;
    padding: 20px;
    font-size: 18px; /* Ukuran teks */
}

.login-form label {
    display: block;
    font-size: 20px; /* Ukuran teks label */
    margin-bottom: 10px;
}
