@import url('https://fonts.cdnfonts.com/css/spacetype'); 
@import url('https://fonts.cdnfonts.com/css/common-pixel');
@import url('https://fonts.cdnfonts.com/css/aux-dotbitc');
@import url('https://fonts.cdnfonts.com/css/clouds');

body {
    font-family: 'AuX DotBitC', sans-serif;                                                                        
    margin: 10;
    padding: 10;
    background-color: #333;
}

header {
    font-family: 'SpaceType', sans-serif;
    background-color: #b3ff00;
    color: #333;
    padding: 10px;
    text-align: center;
}
.berita{
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    display: flex;
}

.judul-berita {
    font-family: 'common pixel', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 5px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.ringkasan-berita {
    text-align-last: left;
    margin: 40px;
    color: #b3ff00;
}

.container {
    border-radius: 5px;
    max-width: 650px;
    margin: 0 auto;
    padding: 10px;
    background-color: #b3ff00;
    text-align: justify;
    font-size: 30px;
}

a {
    color: #ae00ff;
    text-decoration: none;
}

.copyright {
    font-family: 'common pixel', sans-serif;
    color: #ddd;
    text-align: center;
}

hr {
    color: #b3ff00;
}

marquee {
    color: #b3ff00;
    font-family: 'common pixel', sans-serif;
}


.garis-dua {
    border: none;
    border-top: 10px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 10px;
}

.login-button {
    font-family: 'AuX DotBitC', sans-serif; 
    background-color: #333; /* Warna latar belakang */
    color: #ddd; /* Warna teks */
    border: none; /* Menghapus border */
    padding: 10px 120px; /* Padding tombol */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-left: 40px;
    cursor: pointer;
    border-radius: 20px 0px; /* Membuat sudut sudut tombol agak melengkung */
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font-family: 'AuX DotBitC', sans-serif;  
    width: 50%;
    padding: 12px;
    font-size: 20px; /* Ukuran teks input */
    margin-bottom: 15px;
    margin-left: 60px;
    border: 2px solid #ae00ff;
    border-radius: 5px;
}


input, select {
    font-family: 'AuX DotBitC', sans-serif;  
    width: 50%;
    padding: 12px;
    margin-left: 60px;
    font-size: 20px; /* Ukuran teks input */
    border: 2px solid #ae00ff;
    border-radius: 5px;
}


/* CSS untuk formulir data diri */

