@import url('https://fonts.cdnfonts.com/css/spacetype'); 
@import url('https://fonts.cdnfonts.com/css/common-pixel');
@import url('https://fonts.cdnfonts.com/css/aux-dotbitc');
@import url('https://fonts.cdnfonts.com/css/clouds');

body {
    font-family: 'AuX DotBitC', sans-serif;                                                                        
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    font-family: 'SpaceType', sans-serif;
    background-color: #333;
    padding: 10px;
    text-align: center;
}


.header2 {
    font-family: 'common pixel', sans-serif;
    color: #b3ff00;
    text-align: center;
}

.container {
    border-radius: 5px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b3ff00;
}

.berita {
    font-family: 'AuX DotBitC', sans-serif;                                     
    border-bottom: 2px solid #000000;  
    padding: 20px 0;
    display: flex;
    text-align: justify;
}

.gambar-berita {
    max-width: 200px;
    margin-right: 20px;
}

.judul-berita {
    font-family: 'AuX DotBitC', sans-serif;                                     
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.ringkasan-berita {
    color: #303030;
}

a {
    color: #ae00ff;
    text-decoration: none;
}

.copyright {
    font-family: 'common pixel', sans-serif;
    color: #ddd;
    text-align: center;
}

hr {
    color: #b3ff00;
}

marquee {
    color: #b3ff00;
    font-family: 'common pixel', sans-serif;
}